<div id="prompt-answer"
  data-controller="prompt">
  <h1>Question:</h1>
  <h4>( 01:27 )</h4>
  <h3>Thought provoking question goes here?</h3>
  <button data-action="prompt#handleSubmit">
    Submit
  </button>
  <div data-target="prompt.player">
  </div>
</div>