<div id="prompt-entry">
    <h3>Please press <span>Start</span> below to begin answering today's prompt</h3>
    <p><i>NOTE: Once started, you will not be able to pause the recording</i></p>

    <div>
        <a href="/answer">
            <button>Start</button>
        </a>
    </div>
</div>
